<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
	<Properties>
		<Property name="patternfull">
			%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{5} - %msg%n
		</Property>
		<Property name="patternshort">
			%d{HH:mm:ss.SSS} [%t] %-5level %logger{5} - %msg%n
		</Property>
	</Properties>
	<Appenders>
		<File name="TxtFile" fileName="logs/textNew2.log" bufferedIO="true">
			<PatternLayout pattern="${patternfull}" />
		</File>
		<File name="NotConsole" fileName="logs/textNewNotConsole.log" bufferedIO="true">
			<PatternLayout pattern="${patternfull}" />
		</File>
		<File name="TxtRootFile" fileName="logs/TxtRootFile.log" bufferedIO="true">
			<PatternLayout pattern="${patternfull}" />
		</File>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${patternshort}" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="DEBUG">
			<AppenderRef ref="TxtFile"/>
		</Root>
		<Logger name="by.training" level="DEBUG"
				additivity="true">
			<AppenderRef ref="Console" />
		</Logger>
	</Loggers>
</Configuration>
